@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

h1,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3.5rem; /* 350% */
}

/* Main Styling Buttons */
button {
  border: none;
  background-color: #24bcb4;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #049494;
}

/* ----- HEADER ----- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.logo_polytechnic {
  height: 100px;
  object-fit: contain;
}

.logo {
  height: 120px;
  object-fit: contain;
}
.logo img,
.logo_polytechnic img {
  width: 100%;
  display: block;
}

.logo {
  align-self: flex-start;
  margin-left: 20px;
}

.logo_polytechnic {
  align-self: flex-end;
  margin-right: 20px;
}

.top_text {
  text-align: center;
  flex: 1;
}

/* ----- INDEX PAGE ----- */
.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
  gap: 60px;
  font-size: 1rem;
}

.text-content {
  max-width: 55%;
  text-align: justify;
}

.rosenblatt_image {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.button-div-index {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-wrapper-index {
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 150px;
}

footer {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #f9f9f9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.polytechnic p {
  font-weight: bold;
}

/* ----- PERCEPTRON PAGE ----- */
.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

/* Canvas styling */
#drawBoard {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 4px solid #040404;
  background-color: #f0f0f0;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* ----- ABOUT PAGE ----- */
.main-div-about {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.button-div-about {
  margin-left: 3%;
  position: fixed;
  top: 50%;
}

.text-div-about {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.button-wrapper-about {
  font-size: 25px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
