@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

h1,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3.5rem; /* 350% */
}

/* Main Styling Buttons */
button {
  border: none;
  background-color: #24bcb4;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #049494;
}