html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

h1,
h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 350%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.logo_polytechnic {
  height: 100px;
  object-fit: contain;
}

.logo {
  height: 120px;
  object-fit: contain;
}

.logo img,
.logo_polytechnic img {
  width: 100%;
  display: block;
}

.logo {
  align-self: start;
  margin-left: 20px;
}

.logo_polytechnic {
  align-self: end;
  margin-right: 20px;
}

.top_text {
  text-align: center;
  flex: 1;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 40px;
  gap: 20px;
  text-align: center;
}

.step_function, .logic {
  width: 250px;
  height: 250px;
}

footer {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #f9f9f9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.polytechnic p {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  border: none;
  background-color: #24bcb4;
  color: #040404;
  font-size: 16px;
  color: white;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

button:hover {
  background-color: #049494; 
}

.button-wrapper {
  align-items: end;
  align-content: end;
  margin-left: auto;
}