html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 350%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.logo_polytechnic {
  height: 100px;
  object-fit: contain;
}

.logo {
  height: 120px;
  object-fit: contain;
}

.logo img,
.logo_polytechnic img {
  width: 100%;
  display: block;
}

.logo {
  align-self: start;
  margin-left: 20px;
}

.logo_polytechnic {
  align-self: end;
  margin-right: 20px;
}

.top_text {
  text-align: center;
  flex: 1;
}
