html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ----- HEADER -----*/
h1{
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 350%;
}

.top_text {
  text-align: center;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.logo_polytechnic {
  height: 100px;
  object-fit: contain;
}

.logo {
  height: 120px;
  object-fit: contain;
}

.logo img,
.logo_polytechnic img {
  width: 100%;
  display: block;
}

.logo {
  align-self: start;
  margin-left: 20px;
}

.logo_polytechnic {
  align-self: end;
  margin-right: 20px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

/* ----- MENU -----*/

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  border: none;
  background-color: #24bcb4;
  color: #040404;
  font-size: 16px;
  color: white;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

button:hover {
  background-color: #049494;
}

.drawBoard {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 4px solid #040404;
  background-color: #f0f0f0;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
