/* ----- ABOUT PAGE ----- */
.main-div-about {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.text-div-about {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-div-about h3 {
  margin-bottom: 10px;
}

.text-div-about p {
  line-height: 1.5;
}

.button-div-about {
  margin-left: 3%;
  position: fixed;
}

.button-wrapper-about {
  font-size: 25px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
