/* ---- MAIN CONTAINER AND CARD ---- */
.container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 85%;
  display: flex;
  flex-direction: column;
}

/* ---- CANVAS ---- */
.canvas {
  width: 60%;
  height: 45%;
  border: 3px solid #24bcb4;
  border-radius: 8px;
  margin: 20px auto 0 auto;
}

/* ----- BUTTONS AND SELECT ----- */
.canvas-buttons {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

h2{
  align-self: center;
  font-weight: 900;
}

.canvas-buttons button {
  padding: 8px 16px;
  border-radius: 6px;
  width: 150px;
  background-color: #24bcb4;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.canvas-buttons button:hover {
  background-color: #1fa1a0;
}

/* ---- Back Button ---- */
.button-div-about {
  position: fixed;
  left: 30px;
  top: 250px;
}

.button-wrapper-about {
  font-size: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #24bcb4;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.button-wrapper-about:hover {
  background-color: #1aa3a0;
  transform: scale(1.1);
}
