/* ----- HEADER ----- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.logo_polytechnic {
  height: 100px;
  object-fit: contain;
}

.logo {
  height: 120px;
  object-fit: contain;
}
.logo img,
.logo_polytechnic img {
  width: 100%;
  display: block;
}

.logo {
  align-self: flex-start;
  margin-left: 20px;
}

.logo_polytechnic {
  align-self: flex-end;
  margin-right: 20px;
}

.top_text {
  text-align: center;
  flex: 1;
}
