/* ----- MAIN CARD AND SELECT ----- */
.container {
  display: flex;
  justify-content: center;
}

.main-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

/* ----- BUTTONS AND SELECT ----- */
.button-div-perceptron {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center; /* Alinha verticalmente no meio */
  justify-content: center;
}

.button-div-perceptron button {
  padding: 8px 16px;
  border-radius: 6px;
  width: 150px;
  background-color: #24bcb4;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.button-div-perceptron button:hover {
  background-color: #049494;
}

.my-select {
  width: 200px;
  display: inline-block;
}

.button-paragraph {
  border: 2px solid #24bcb4;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  color: gray;
  font-style: italic;
}

/* ----- RESULTS AND SLIDER CONTAINER ----- */
.div-middle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* ----- IMAGE SLIDER ----- */

.slider-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

.slider-container-wrapper label {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.slider-container {
  position: relative;
  width: 100%;
  /* height mínima apenas para a imagem */
  min-height: 300px;
  border: 2px solid #24bcb4;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   padding-top: 15px;
}

.slider-index {
  margin-top: 4px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #24bcb4;
}

.inline-slider {
  display: none;
}

.image-result {
  margin-top: 6px;
  font-style: italic;
  color: #333;
  text-align: center;
  width: 100%;
  padding: 4px 0;
  border-top: 1px solid #24bcb4;
}

.slider-container .loading-dots-textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: gray;
}
