/* ----- PERCEPTRON PAGE ----- */
.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

/* ----- Buttons ----- */
.button-div-perceptron {
  margin-left: 3%;
}

.button-div-perceptron button {
  padding: 8px 16px;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 150px;
}

/* Canvas styling */
#drawBoard {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 4px solid #040404;
  background-color: #f0f0f0;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
