/* ----- BUTTONS AND SELECT -----*/
.button-div-perceptron {
  padding: 15px;
  display: flex;
  justify-self: center;
}
.button-div-perceptron button {
  padding: 8px 16px;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 150px;
}
.my-select {
  width: 300px;
  display: inline-block;
  margin-left: 10px;
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px #24bcb4 dashed;
  border-radius: 3%;
  width: 60%;
  margin: auto;
}

.div-middle {
  display: flex;
  flex-direction: row;
}
.div-results {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.div-results textarea {
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: large;
  text-align: justify;
}
.div-results label {
  font-size: x-large;
  font-weight: bold;
}
