/* ----- PERCEPTRON PAGE ----- */
.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

/* ----- Buttons ----- */
.button-div-perceptron {
  margin-left: 3%;
}

.button-div-perceptron button {
  padding: 8px 16px;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 150px;
}
.my-select {
  width: 300px;
  display: inline-block;
  margin-left: 10px;
}
